<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <%- include("partials/errors.ejs") %>
    <form action="/sign-up" method="POST">
      <div>
        <label for="username">Email:</label>
        <input type="email" id="username" name="username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
